.section {
    padding: 40px 0;
}

.section-title {
    padding: 40px 0;
    font-size: 36px;
    color: $red;
    text-align: center;
    @include titleFont;
}

.section-subtitle {
    text-align: center;
    color: $grey-dark;
    font-size: 18px;
    margin-top: -40px;
}

.link {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: $white;
    background: $red;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    @include ease;

    &:hover {
        text-decoration: none;
        color: $white;
        background: $red-light;
    }
}
